*.class
*.iws
*.ipr
*.iml

.metadata/*

.project
.classpath


out/*
.gradle/*


1.7.10/.metadata/*
1.8/.metadata/*

1.8/run/*
1.8/build/*
1.8/.gradle/*

1.7.10/run/*
1.7.10/build/*
1.7.10/.gradle/*

core/build/*
mod/build/*